@import "tailwindcss";

@theme {
  --color-bg-dark: #0f0a1e;
  --color-bg-darker: #07040f;
  --color-studio-primary: #9d4edd;
  --color-studio-secondary: #5a189a;
  --color-studio-accent: #ff006e;
}

@layer base {
  body {
    @apply bg-bg-dark text-slate-200 font-sans;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
}